# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
Diplom/__pycache__/
admin_profile/__pycache__/
admin_profile/migrations/__pycache__/
auth_dip/__pycache__/
auth_dip/migrations/__pycache__/
catalog/__pycache__/
catalog/migrations/__pycache__/
rab_profile/__pycache__/
rab_profile/migrations/__pycache__/
venv/
