{% load static %}

<!doctype html>
<html lang="en">

    <head>


       <link href="{% static 'auth_dip/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
       <link href="{% static 'auth_dip/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<!-- App Css-->
       <link href="{% static 'auth_dip/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body class="auth-body-bg">
        <div>
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-4 mx-auto">
                        <div class="authentication-page-content p-4 d-flex center-block align-items-center min-vh-100">
                            <div class="w-100">
                                <div class="row justify-content-center">
                                    <div class="col-lg-9">
                                        <div>
                                            <div class="text-center">
                                                <div class="justify-content-center">
                                                    <a href="/" class="logo"><img src="{% static 'auth_dip/img/logo-dark.png' %}" height="200" alt="logo"></a>
                                                </div>

                                                <h4 class="font-size-18 mt-4">Welcome Back !</h4>
                                                <p class="text-muted">Sign in to continue to Gigabyte.</p>
                                            </div>

                                            <div class="p-2 mt-5">
                                                <form class="form-horizontal" method="post">
                                                    <div class="form-group auth-form-group-custom mb-4">
                                                        <i class="ri-lock-2-line auti-custom-input-icon"></i>
                                                        {{ form.Login.label }}
                                                        {{ form.Login }}
                                                    </div>
                                                    <div class="form-group auth-form-group-custom mb-4">
                                                        <i class="ri-lock-2-line auti-custom-input-icon"></i>
                                                        {{ form.Password.label }}
                                                        {{ form.Password }}
                                                    </div>
                                                    <div class="text-center">
                                                        <span class="badge badge-soft-danger font-size-11">{{ error }}</span>
                                                    </div>

                                                    <div class="mt-4 text-center">
                                                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Log In{% csrf_token %}</button>
                                                    </div>

                                                </form>
                                            </div>

                                            <div class="mt-5 text-center">
                                                <p>© 2021 Gigabyte. Crafted with <i class="mdi mdi-heart text-danger"></i> by Gigabyte</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
