{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    {% block s %}
            <!-- Bootstrap Css -->
        <link href="{% static 'catalog/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
            <!-- Icons Css -->
        <link href="{% static 'catalog/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
            <!-- App Css-->
        <link href="{% static 'catalog/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    {% endblock %}
</head>
<body>
    {% block bar %}
        <div class="vertical-menu">
            <div data-simplebar class="h-100">
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title">Menu</li>

                        <li>
                                <a href="" class="waves-effect">
                                    <i class="ri-dashboard-line"></i><span class="badge badge-pill badge-success float-right"></span>
                                    <span>Администрирование</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="/admin-profile">Инф. панель</a></li>
                                    <li><a href="/admin-profile/managment">Управление персоналом</a></li>
                                </ul>
                            </li>

                        <li>
                            <a href="javascript: void(0);" class="waves-effect">
                                <i class="ri-store-2-line"></i>
                                <span>Коммерция</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/catalog">Товары</a></li>
                                <li><a href="/catalog/orders">История продаж</a></li>
                                <li><a href="/catalog/cart">Корзина</a></li>
                                <li><a href="/catalog/add-product">Добавить товар</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}
    <!-- JAVASCRIPT -->
    {% block sc %}
        <script src="{% static 'catalog/js/jquery.min.js' %}"></script>
        <script src="{% static 'catalog/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'catalog/js/metisMenu.min.js' %}"></script>
        <script src="{% static 'catalog/js/simplebar.min.js' %}"></script>
        <script src="{% static 'catalog/js/waves.min.js' %}"></script>
        <script src="{% static 'catalog/js/app.js' %}"></script>
    {% endblock %}
</body>
</html>