{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    {% block s %}
            <!-- Bootstrap Css -->
        <link href="{% static 'catalog/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
            <!-- Icons Css -->
        <link href="{% static 'catalog/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
            <!-- App Css-->
        <link href="{% static 'catalog/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    {% endblock %}
</head>
<body>
    {% block bar %}
        <div class="vertical-menu">
            <div data-simplebar class="h-100">
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title">Menu</li>

                        <li>
                            <a href="/profile" class="waves-effect">
                                <i class="ri-dashboard-line"></i><span class="badge badge-pill badge-success float-right">3</span>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li>
                            <a href="calendar.html" class=" waves-effect">
                                <i class="ri-calendar-2-line"></i>
                                <span>Calendar</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="ri-store-2-line"></i>
                                <span>Ecommerce</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/catalog">Products</a></li>
                                <li><a href="/catalog/product-detail">Product Detail</a></li>
                                <li><a href="/catalog/orders">Orders</a></li>
                                <li><a href="/catalog/cart">Cart</a></li>
                                <li><a href="/catalog/checkout">Checkout</a></li>
                                <li><a href="/catalog/add-product">Add Product</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}
    <!-- JAVASCRIPT -->
    {% block sc %}
        <script src="{% static 'catalog/js/jquery.min.js' %}"></script>
        <script src="{% static 'catalog/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'catalog/js/metisMenu.min.js' %}"></script>
        <script src="{% static 'catalog/js/simplebar.min.js' %}"></script>
        <script src="{% static 'catalog/js/waves.min.js' %}"></script>
        <script src="{% static 'catalog/js/app.js' %}"></script>
    {% endblock %}
</body>
</html>